<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class='text-center'>Edit Campground
    </h1>
    <div class="col-6 offset-3">
        <form class='validated-form' action="/campgrounds/<%=campground._id%>?_method=PUT" method="post" novalidate enctype="multipart/form-data">
            <div class='mb-3'>
                <label class="form-label" for="title">Title</label>
                <input required class="form-control" type="text" id='title' value='<%= campground.title%>' name="campground[title]" placeholder="Campground Title" />
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
            <div class='mb-3'>
                <label class="form-label" for="location">Location</label>
                <input required class="form-control" type="text" id='location' value='<%= campground.location%>' name="campground[location]" placeholder="Campground Location" />
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Choose Images...</label>
                <input class="form-control" type="file" id="image" multiple name='image' placeholder="Campground Image" >
            </div>
            <div class="mb-3">
                <label class="sr-only" for="price">Price</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input required type="number" class="form-control" id="price" value='<%= campground.price%>' name="campground[price]" placeholder="Campground price per night">
                  <div class="valid-feedback">
                    Looks Good
                  </div>
                </div>
              </div>
            <div class='mb-3'>
                <label class="form-label" for="description">Campground Description</label>
                <textarea required rows='4' class="form-control" type="text" id='description' name="campground[description]" placeholder="Enter Campground description"><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i){ %>
                    <img src="<%= img.url %>" class='img-thumbnail'>
                    <div class="form-check-inline">
                        <input type="checkbox" name='deleteImages[]' value="<%=img.filename%>" id="image-<%=i%>">
                    </div>
                    <label for="image-<%=i%>">Delete</label>
                <% }) %> 
            </div>
            <div class="mb-3">
                <input class='btn btn-info form-control' type="submit" value="Edit Campground">
            </div>
        </form>
        <a href="/campgrounds/<%=campground._id%>">Back</a>
    </div>
</div>

