<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= prod.name %></title>
</head>
<body>
    <h1><%= prod.name %></h1>
    <p>Type : <a href="/products?category=<%= prod.category %>"><%= prod.category %></a></p>
    <p>Price : $<%= prod.price %></p>

    <a href="/products">All Products</a> | 
    <a href="/products/<%= prod._id%>/edit">Edit</a>
</body>
</html>