<%- include('partials/head') %> 

    <%- include('partials/navbar') %> 

    <div class="container text-center justify-content-center align-items-center">
        <h1>Browsing the
            <%= name %> SubReddit
        </h1>
        <h2>
            <%= description %>
        </h2>
        <p>
            <%= subscribers %> Total Subscribers
        </p>
        <hr>
        <ul>
            <% for(let post of posts){ %>
                <article>
                    <h3>
                        <%= post.title %>
                    </h3>
                    <small>--By <%= post.author %></small>
                    <% if(post.img){ %>
                        <img src="<%= post.img %>" alt="Image was here" />
                        <% } %>
                </article>
                <% } %>
        </ul>

    </div>

<%- include('partials/footer') %>
