<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>
        <%= name %>
    </title>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Express Demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/random">Random</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/r/chickens">Chickens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/r/soccer">Soccer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/r/mightyharvest">Mighty Harvest</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center justify-content-center align-items-center">
        <h1>Browsing the
            <%= name %> SubReddit
        </h1>
        <h2>
            <%= description %>
        </h2>
        <p>
            <%= subscribers %> Total Subscribers
        </p>
        <hr>
        <ul>
            <% for(let post of posts){ %>
                <article>
                    <h3>
                        <%= post.title %>
                    </h3>
                    <small>--By <%= post.author %></small>
                    <% if(post.img){ %>
                        <img src="<%= post.img %>" alt="Image was here" />
                        <% } %>
                </article>
                <% } %>
        </ul>

    </div>
</body>

</html>